footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: var(--color-bg-section);
  padding: 3.5rem;
  text-align: center;
  color: var(--color-font-title);
}

footer span {
  font-weight: bold;
  color: var(--color-font);
}