* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira-sans", sans-serif;
}

html {
    font-size: 60%;
}

body {
    background-color: #111111;
    font-size: 1.6rem;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #111111;
}

body::-webkit-scrollbar-thumb {
    background-color: #33FFB8;
    border-radius: 5px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}