header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    align-items: center;
    padding: 0rem 2rem;
    margin: 2rem auto 0 auto;
    z-index: 1;
    transition: 1s;
}

header .container-menu-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

header h2 {
    display: flex;
    align-items: center;
    color: var(--color-font-title);
}

header #logoleft {
    width: 15%;
}
  
header #logoright {
    margin-left: 0.7rem;
    width: 8.5%;
}

header a {
    position: relative;
    display: block;
    color: var(--color-font-text);
    padding: 0.5rem;
}

header #theme-icon {
    width: 3.5rem;
    margin-left: 1rem;
    cursor: pointer;
}