.container-experiences {
    width: 100%;
    margin-top: 5rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--color-bg-section);
    transition: 1s;
}

.experiences {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    color: var(--color-font-title);
}

.companies {
    background-color: var(--color-bg);
    padding: 3rem;
    border-radius: 1rem;
}

.companies h1 {
    position: relative;
}

.companies h1::before {
    content: "";
    position: absolute;
    background: #33FFB8;
    width: 3.5rem;
    height: 0.5rem;
    top: 4rem;
}

.companies ul {
    margin-top: 4rem;
}

.companies ul li {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    font-weight: 500;
    color: var(--color-font-text);
}

.info-companies {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.period-companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: center;
}

.period-companies span {
    background-color: var(--color-bg);
    color: var(--color-font);
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.info-title-companies > P {
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    color: var(--color-font-text);
}

.info-companies section {
    display: none;
}

.info-companies section.ativo {
    display: block;
    position: relative;
}

.js-companies li {
    cursor: pointer;
}

@media (max-width: 1000px) {

    .experiences {
        flex-direction: column;
        align-items: center;
    }

    .companies {
      padding: 1rem 3rem;
    }

    .companies h1{
      font-size: 3.3rem;
    }

    .info-companies {
      width: 92vw;
      margin-top: 4rem;
    }

    .period-companies > span {
        width: 18rem;
        margin-top: 1rem;
    }
    
  }
  
  @media (max-width: 500px) {

    .experiences {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .companies {
        padding: 0;
        width: 88vw;
    }

    .info-companies {
        width: 86vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
  
    .companies h1 {
        display: flex;
        justify-content: center;
        width: 90vw;
        font-size: 10vw;
        padding-top: 2rem;
    }
  
    .companies h1::before {
      top: 0.9rem;
    }
  
    .js-companies li {
      display: flex;
      justify-content: center;
    }

    .period-companies {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .period-companies h2{
        display: flex;
        justify-content: center;
    }

    .period-companies > span {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 1rem;
    }

}
  