.container-projects {
    width: 100%;
    padding: 6rem 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #111111;
    gap: 2rem;
    transition: 1s;
}

.title-project {
    text-align: center;
    position: relative;
    color: #ffffff;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    padding: 2rem 2rem 0 2rem;
    background-color: #1b1b1b;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
}

.project img {
    width: 300px;
}

.project .text {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

.project h1 {
    width: 30rem;
    text-align: center;
    background-color: #33FFB8;
    color: #111111;
    font-weight: bold;
    padding: 0.2rem 0;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 2rem;
}

.project .technologies {
    width: 27rem;
    text-align: center;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.project .project-details {
    width: 30rem;
    text-align: center;
    font-size: 12px;
    margin-top: 1rem;
    color: #ffffff;
}

.project .buttons {
    display: flex;
    justify-content: center;
    width: 30rem;
    gap: 3rem;
    margin-bottom: 1rem;
}

.project .buttons .button-repository {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.5rem;
    gap: 1rem;
    color: #33FFB8;
    background-color: #1b1b1b;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #1b1b1b;
}

.project .buttons .button-repository:hover {
    border: 1px solid #33FFB8;
}

.project .buttons .button-repository img {
    width: 30px;
}

@media (max-width: 1200px) {
    .projects {
      flex-direction: column;
    }
}