.container-projects {
    width: 100%;
    padding: 6rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px auto 0 auto;
    color: #111111;
    padding: 0rem 2rem;
    gap: 2rem;
}

.title-project {
    text-align: center;
    position: relative;
    color: #111111;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 550px;
    padding: 2rem 2rem 0 2rem;
    background-color: #b6b6b6;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
}

.project img {
    width: 300px;
}

.project .text {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

.project h1 {
    width: 30rem;
    text-align: center;
    background-color: #b6b6b6;
    color: #111111;
    font-weight: bold;
    padding: 0.2rem 0;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 2rem;
}

.project .technologies {
    width: 27rem;
    text-align: center;
    margin-top: 1rem;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
}

.project .project-details {
    width: 30rem;
    text-align: center;
    font-size: 12px;
    margin-top: 1rem;
}

.project .buttons {
    display: flex;
    justify-content: center;
    width: 30rem;
    gap: 3rem;
    margin-bottom: 1rem;
}

.project .buttons .button-repository {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.5rem;
    gap: 1rem;
    color: #111111;
    background-color: #b6b6b6;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #33FFB8;
}

.project .buttons .button-repository:hover {
    border: 1px solid #111111;
}

.project .buttons .button-repository img {
    width: 30px;
}