.container-training {
  max-width: 100%;
  margin-top: 5rem;
  padding: 3rem;
  background-color: var(--color-bg-section);
  border-radius: 1rem;
  transition: 1s;
}

.training {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--color-font-title);
}

.training-menu {
  background-color: var(--color-bg);
  padding: 2rem;
  border-radius: 1rem;
  transition: 1s;
  width: 29rem;
}

.training-menu h1 {
  position: relative;
}

.training-menu h1::before {
  content: "";
  position: absolute;
  background: #33FFB8;
  width: 4rem;
  height: 0.5rem;
  top: 8.7rem;
}

.training-menu ul {
  margin-top: 4rem;
}

.training-menu ul li {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  font-weight: 500;
  color: var(--color-font-text);
  cursor: pointer;
}

.info-training {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5rem;
}

.info-training section {
  display: none;
}

.info-training section.ativo {
  display: block;
  position: relative;
}

.period-training {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}

.period-training>span {
  background-color: var(--color-bg);
  color: var(--color-font);
  padding: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
}

.info-training-container>P {
  color: var(--color-font-text);
  text-align: center;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 1000px) {

  .training {
    flex-direction: column;
    align-items: center;
  }

  .training-menu {
    padding: 1rem 3rem;
  }

  .training-menu h1 {
    width: 32vw;
    font-size: 3.3rem;
  }

  .training-menu h1::before {
    top: 7.2rem;
  }

  .info-training {
    width: 92vw;
    margin-top: 4rem;
    margin-right: 3rem;
  }

}

@media (max-width: 500px) {

  .training {
    display: flex;
    justify-content: center;
  }

  .training-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 88vw;
  }

  .training-menu h1 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 10vw;
  }

  .training-menu h1::before {
    top: 0.9rem;
  }

  .training-menu ul li {
    display: flex;
    justify-content: center;
    cursor: none;
  }

  .info-training {
    width: 86vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
  }

  .period-training {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .period-training h2 {
    display: flex;
    justify-content: center;
  }

  .period-training>span {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 1rem;
  }

}