.container-training {
    max-width: 100%;
    margin-top: 5rem;
    padding: 1rem;
    background-color: #ffffff;
}
  
.training {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    color: #111111;
}
  
.training-menu {
    background-color: #b6b6b6;
    padding: 2rem;
    border-radius: 0.5rem;
}
  
.training-menu h1 {
    position: relative;
    width: 22vw;
}
  
.training-menu h1::before {
    content: "";
    position: absolute;
    background: #33FFB8;
    width: 4rem;
    height: 0.5rem;
    top: 8.7rem;
}
  
.training-menu ul {
    margin-top: 4rem;
}
  
.training-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    font-weight: 500;
    color: #111111;
}
  
.info-training {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.period {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
}

.period h2 {
    width: 70%;
}
  
.period > p {
    color: #111111;
}
  
.info-training-container > P {
    color: #111111;
    text-align: center;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
}